<!DOCTYPE html>
<html>
    <head>
        <%- include('./../../layout/head') %>
    </head>
    <body>
        <h1>Search results:</h1>
        <p><a href="/">Home</a></p>
        <ul class="ul-search-result">
            <% searchResults.forEach(book => { %>
                <img src= <%= book.image_url %>  >
                <li class="list-items-search-results"> Author : <%= book.author %> </li> 
                <li class="list-items-search-results"> Title : <%= book.title %> </li> 
                <li class="list-items-search-results"> Description: <%= book.description %> </li> 
            <% }) %>
        </ul>


    </body>

</html>


